<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Members</title>
    <link rel="stylesheet" href="/css/styles.css">
    <!-- DataTables CSS -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">

    <!-- jQuery (Required by DataTables) -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <!-- DataTables JS -->
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
</head>
<body>

<div th:insert="~{fragments/navbar :: navbar}"></div>

<div class="container">
    <h1>List of Congress members</h1>
    <table border="1" id="membersTable">
        <thead>
        <tr>
            <th>Name</th>
            <th>Total Stock Transactions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="member : ${members}">
            <td>
                <a th:href="@{/members/{id}(id=${member.getId()})}"
                   th:text="${member.getMemberDetails()}"></a>
            </td>
            <td th:text="${member.getTotalTransactions()}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
<script>
    let table = new DataTable('#membersTable');
</script>
</html>