<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Transactions Overview</title>
  <!-- Import CSS -->
  <link rel="stylesheet" href="/css/styles.css">
  <!-- DataTables CSS -->
  <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">

  <!-- jQuery (Required by DataTables) -->
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

  <!-- DataTables JS -->
  <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
</head>
<body>

<div th:insert="~{fragments/navbar :: navbar}"></div>

<div class="container">

  <!-- Table for Transactions -->
  <h2>Transaction Details</h2>
  <table id="transactionsTable" class="display" style="width:100%">
    <thead>
    <tr>
      <th>Congress member</th>
      <th>Asset Ticker</th>
      <th>Amount Range</th>
      <th>Transaction Type</th>
      <th>Transaction Date</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="transaction : ${transactions}">
      <!-- Member Details -->
      <td>
        <!-- Hyperlink to members/{id} -->
        <a th:href="@{/members/{id}(id=${transaction.getDisclosure().getMember().getId()})}"
           th:text="${transaction.getDisclosure().getMember().getMemberDetails()}"></a>
      </td>
      <!-- Conditional Ticker Content -->
      <td>
        <!-- If Ticker is NOT "N/A", show hyperlink -->
        <a th:if="${transaction.getTicker()} != 'N/A'"
           th:href="@{/transactions/ticker/{ticker}(ticker=${transaction.getTicker()})}"
           th:text="${transaction.getTicker()}"></a>

        <!-- If Ticker is "N/A", show plain text -->
        <span th:if="${transaction.getTicker()} == 'N/A'"
              th:text="${transaction.getTicker()}"></span>
      </td>
      <td th:text="${transaction.getAmountRange()}"></td>
      <td th:text="${transaction.getTransactionType()}"></td>
      <td th:text="${#dates.format(transaction.getTransactionDate(), 'MM/dd/yyyy')}"></td>
    </tr>
    </tbody>
  </table>
</div>
<script>
  let table = new DataTable('#transactionsTable');
</script>
</body>
</html>